@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-title {
  font-family: 'Jua', sans-serif;
  font-size: larger;
  padding: 50px 0 30px 0;
}

.App-name {
  font-family: 'Jua', sans-serif;
  font-size: smaller;
}

.App-container {
  width: 1000px;
  display: flex;
  flex-direction: row;
  height: auto;
  flex-flow: wrap;
  justify-content: left;
  padding-left: 8%;
}

.App-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
}

.App-box-img {
  height: 17rem;
  width: auto;
  max-width: 100%;
  display: inline-flex;
  border-radius: 20px;
}

.App-box-title {
  font-size: 0.875rem;
  width: 92%;
  display: block;
  text-align: center;
  word-break: keep-all;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.App-error {
  font-family: 'Jua', sans-serif;
  font-size: smaller;
  color: grey;
  padding: 50px;
}
